{
  "extends": "stylelint-config-recommended",
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "order/properties-order": [
      "content",
      "quotes",
      "box-sizing",
      "display",
      "align-content",
      "align-items",
      "align-self",
      "flex",
      "flex-basis",
      "flex-direction",
      "flex-flow",
      "flex-grow",
      "flex-shrink",
      "flex-wrap",
      "justify-content",
      "grid",
      "grid-area",
      "grid-template",
      "grid-template-areas",
      "grid-template-rows",
      "grid-template-columns",
      "grid-column",
      "grid-column-start",
      "grid-column-end",
      "grid-row",
      "grid-row-start",
      "grid-row-end",
      "grid-auto-rows",
      "grid-auto-columns",
      "grid-auto-flow",
      "grid-gap",
      "grid-row-gap",
      "grid-column-gap",
      "order",
      "columns",
      "column-gap",
      "column-fill",
      "column-rule",
      "column-rule-width",
      "column-rule-style",
      "column-rule-color",
      "column-span",
      "column-count",
      "column-width",
      "position",
      "left",
      "right",
      "top",
      "bottom",
      "z-index",
      "float",
      "clear",
      "overflow",
      "overflow-x",
      "overflow-y",
      "resize",
      "visibility",
      "opacity",
      "width",
      "min-width",
      "max-width",
      "height",
      "min-height",
      "max-height",
      "margin",
      "margin-top",
      "margin-right",
      "margin-bottom",
      "margin-left",
      "padding",
      "padding-top",
      "padding-right",
      "padding-bottom",
      "padding-left",
      "border",
      "border-top",
      "border-right",
      "border-bottom",
      "border-left",
      "border-width",
      "border-top-width",
      "border-right-width",
      "border-bottom-width",
      "border-left-width",
      "border-style",
      "border-top-style",
      "border-right-style",
      "border-bottom-style",
      "border-left-style",
      "border-radius",
      "border-top-left-radius",
      "border-top-right-radius",
      "border-bottom-left-radius",
      "border-bottom-right-radius",
      "border-color",
      "border-top-color",
      "border-right-color",
      "border-bottom-color",
      "border-left-color",
      "border-image",
      "border-image-source",
      "border-image-width",
      "border-image-outset",
      "border-image-repeat",
      "border-image-slice",
      "outline",
      "outline-offset",
      "outline-width",
      "outline-style",
      "outline-color",
      "box-shadow",
      "background",
      "background-attachment",
      "background-clip",
      "background-color",
      "background-image",
      "background-repeat",
      "background-position",
      "background-size",
      "list-style",
      "list-style-type",
      "list-style-position",
      "list-style-image",
      "caption-side",
      "table-layout",
      "border-collapse",
      "border-spacing",
      "empty-cells",
      "vertical-align",
      "font",
      "font-family",
      "font-size",
      "font-size-adjust",
      "font-stretch",
      "font-weight",
      "font-smoothing",
      "osx-font-smoothing",
      "font-variant",
      "font-style",
      "line-height",
      "word-spacing",
      "letter-spacing",
      "white-space",
      "word-break",
      "word-wrap",
      "color",
      "direction",
      "tab-size",
      "text-align",
      "text-align-last",
      "text-justify",
      "text-indent",
      "text-transform",
      "text-decoration",
      "text-decoration-color",
      "text-decoration-line",
      "text-decoration-style",
      "text-rendering",
      "text-shadow",
      "text-overflow",
      "counter-reset",
      "counter-increment",
      "page-break-before",
      "page-break-after",
      "page-break-inside",
      "backface-visibility",
      "perspective",
      "perspective-origin",
      "transform",
      "transform-origin",
      "transform-style",
      "transition",
      "transition-delay",
      "transition-duration",
      "transition-property",
      "transition-timing-function",
      "animation",
      "animation-name",
      "animation-duration",
      "animation-timing-function",
      "animation-delay",
      "animation-iteration-count",
      "animation-direction",
      "animation-fill-mode",
      "animation-play-state",
      "cursor"
    ]
  }
}
